<nz-page-header [nzGhost]="false">
    <nz-page-header-title>Usuarios</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button (click)="openAdd()"> <span nz-icon nzType="plus-circle"></span>  Agregar</button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>


<nz-table #table [nzData]="users" nzSize="small">
    <thead>
      <tr>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <td>{{ data.person?.dni ?? '' }}</td>
            <td>{{ data.person?.firstName ?? ' '}} {{ data.person?.lastName ?? ' '}} </td>
            <td>{{ data.username }}</td>
            <td>{{ data.person?.email ?? '' }}</td>
            <td>
                <button nz-button nz-dropdown nzType="text" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="dash"></span>
                  </button>

              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="editUser(data)"> <span nz-icon nzType="edit"></span> Actualizar</a>
                  </li>
                  <li nz-menu-item>
                    <a class="delete" (click)="deleteUser(data.userId)"><span nz-icon nzType="delete"></span> Eliminar</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="showModal" nzTitle="Usuario" (nzOnCancel)="close()" (nzOnOk)="Ok()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="form">
            <nz-row [nzGutter]="[12,12]">
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzRequired>Identificación</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input formControlName="dni" class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzRequired>Nombre</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input  formControlName="firstName" class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzRequired>Apellido</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input formControlName="lastName"  class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzRequired>Nombre de usuario</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input formControlName="username"  class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzRequired>Contraseña</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input formControlName="password"  class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="email">Correo</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input  formControlName="email" class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
                <nz-col nzMd="12" nzXs="24">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="email">Telefono</nz-form-label>
                        <nz-form-control nzErrorTip="Ingrese un valor válido">
                          <input nz-input formControlName="telephone"  class="input">
                        </nz-form-control>
                    </nz-form-item >
                </nz-col>
            </nz-row>
          </form>
    </ng-container>
  </nz-modal>